# ==========================
# Application
# ==========================
NODE_ENV=
PORT=

# ==========================
# Database
# ==========================
MONGO_URI=
# ==========================
# Authentication
# ==========================
JWT_SECRET=

# ==========================
# Google OAuth
# ==========================
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
CLIENT_URL=